In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df=pd.read_csv('bank churn train.csv')

In [4]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1,0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1,1,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1,0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1,1,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1,1,15068.83,0

In [5]:
df=df.drop(columns=['CustomerId','Surname','EstimatedSalary','id'])

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df=pd.get_dummies(df,drop_first=True)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_Germany,Geography_Spain
0,668,1,33.0,3,0.00,2,1,0,0,0,0
1,627,1,33.0,1,0.00,2,1,1,0,0,0
2,678,1,40.0,10,0.00,2,1,0,0,0,0
3,581,1,34.0,2,148882.54,1,1,1,0,0,0
4,716,1,33.0,5,0.00,2,1,1,0,0,1

In [7]:
x=df.drop(columns='Exited')
y=df['Exited']

In [8]:
minmax_cols = ['Tenure', 'NumOfProducts']

# Select columns for standard scaling
standard_cols = ['CreditScore', 'Age', 'Balance']

# Initialize scalers
minmax_scaler = MinMaxScaler()
standard_scaler = StandardScaler()

# Apply MinMax scaling
x[minmax_cols] = minmax_scaler.fit_transform(df[minmax_cols])

# Apply standard scaling
x[standard_cols] = standard_scaler.fit_transform(df[standard_cols])

# Print the scaled DataFrame
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography_Germany,Geography_Spain
0,0.143444,1,-0.578765,0.3,-0.884676,0.333333,1,0,0,0
1,-0.367287,1,-0.578765,0.1,-0.884676,0.333333,1,1,0,0
2,0.268012,1,0.213727,1.0,-0.884676,0.333333,1,0,0,0
3,-0.940301,1,-0.465552,0.2,1.486681,0.000000,1,1,0,0
4,0.741372,1,-0.578765,0.5,-0.884676,0.333333,1,1,0,1

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,classification_report

In [12]:
from imblearn.over_sampling import SMOTE
x_r,y_r=SMOTE().fit_resample(x,y)
y_r.value_counts()

0    78894
1    78894
Name: Exited, dtype: int64

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x_r,y_r,test_size=0.2,random_state=42)

In [14]:
gb_classifier = GradientBoostingClassifier(n_estimators=300, learning_rate=0.1, max_depth=10, random_state=40)

# Train the classifier on the training data
gb_classifier.fit(x_train, y_train)

# Make predictions on the testing data
y_pred = gb_classifier.predict(x_test)

# Evaluate the classifier's performance
accuracy_gb = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy_gb)

Accuracy: 0.9090563407060016

In [15]:
"""import pickle
with open('model1.pkl', 'wb') as f:
    pickle.dump(gb_classifier, f)

# Close the file
f.close()"""

"import pickle\nwith open('model1.pkl', 'wb') as f:\n    pickle.dump(gb_classifier, f)\n\n# Close the file\nf.close()"

In [17]:
import joblib

# Save the model
joblib.dump(gb_classifier, 'model1.pkl')

# Load the model
model = joblib.load('model1.pkl')

In [18]:
model

GradientBoostingClassifier(max_depth=10, n_estimators=300, random_state=40)

In [19]:
import sklearn

print(sklearn.__version__)

1.3.0

In [20]:
import sys
print(sys.path)

['C:\\Users\\Nikita\\Desktop\\ml projects\\Untitled Folder', 'C:\\Users\\Nikita\\anaconda\\python310.zip', 'C:\\Users\\Nikita\\anaconda\\DLLs', 'C:\\Users\\Nikita\\anaconda\\lib', 'C:\\Users\\Nikita\\anaconda', '', 'C:\\Users\\Nikita\\anaconda\\lib\\site-packages', 'C:\\Users\\Nikita\\anaconda\\lib\\site-packages\\win32', 'C:\\Users\\Nikita\\anaconda\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Nikita\\anaconda\\lib\\site-packages\\Pythonwin']